<div class="card centretext">
<h2><%= @team.name %></h2>
<div class="rounded">
 <%= image_tag @team.image_url(:square) %>
</div>

<p>
  <strong>Description</strong>
    <br/>
  <%= @team.description %>
</p>

<p>
  <strong>Sport</strong>
    <br/>
  <%= @team.sport.name %>
</p>

<p>
  <strong>Gender</strong>
    <br/>
  <%= @team.gender.name %>
</p>

<p>
  <strong>Skill level</strong>
    <br/>
  <%= @team.skill.name %>
</p>

<p>
  <strong>Location</strong>
    <br/>
  <%= @team.full_street_address %>
</p>

<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@team.latitude},#{@team.longitude}&zoom=13&scale=1&size=600x300&maptype=roadmap&key=AIzaSyC_XGX34wBaJcGjRQ1PNHoJMSRqAheg7XU&format=jpg&visual_refresh=true", class: "map" %>


<p>
  <strong>Founder</strong>
    <br/>
  <%= link_to @team.owner.profile.full_name, @team.owner.profile %>
</p>

<p>
  <strong>Members</strong>
    <br/>
  <% @team.users.each do |user| %>
    <%= link_to user.profile.full_name, user.profile %>
  <% end %>
</p>

<% if current_user.admin_of_team?(@team) %>
  <%= link_to "Modify Team Member List", team_team_players_path(@team), class: "accent-btn" %>
  
<% end %>

<% if current_user.is_not_in_team?(@team) %>
  <%= link_to "Apply To Join Team", new_team_team_application_path(@team), class: "accent-btn" %>
  
<% end %>
</div>

