<div class="buffer">
<h2><%= @team.name %></h2>
<% if current_user.is_not_in_team?(@team) %>
  <%= link_to "Apply To Join Team", new_team_team_application_path(@team), class: "accent-btn" %>  
<% end %>
</div>

<div class="row">

<div class="m-12 l-3 l-mr1">
<div class="card centretext">

  <h2><%= @team.name %></h2>
  <div class="rounded">
  <%= image_tag @team.image_url(:square) %>
  </div>



  <p>
    <strong>Sport: </strong> <%= @team.sport.name %>
  </p>

  <p>
    <strong>Gender:</strong> <%= @team.gender.name %>
  </p>

  <p>
    <strong>Skill level:</strong> <%= @team.skill.name %>
  </p>

  <p>
    <strong>Description</strong>
      <br/>
    <%= @team.description %>
  </p>


  <p>
    <strong>Founder</strong>
      <br/>
    <%= link_to @team.owner.profile.full_name, @team.owner.profile %>
  </p>

  <% if current_user.admin_of_team?(@team) %>
    <%= link_to "Edit Team", edit_team_path(@team), class: "accent-btn" %>
  <% end %>

</div>

  <% if current_user.admin_of_team?(@team) %>
    <div class="card">
    <h4>Admin Panel</h4>
    <%= link_to "Create New Game", new_team_game_path(@team)%>
    <br />
      <%= link_to "Edit Team Information", edit_team_path(@team) %>
    <br />
      <%= link_to "Review Team Applications", team_team_applications_path(@team) %>
    <br />
    <%= link_to "Modify Team Members", team_team_players_path(@team) %>
    </div>
  <% end %>

</div>

<div class="m-12 l-8">
<div class="card centretext">
  <p>
<h2> Location </h2>
    <%= @team.full_street_address %>
  </p>

  <%= marker_map(@team) %>
  </div>
<div class="card">
<h2>Upcoming Games</h2>
<% if @team.upcoming_games.empty? %>
<p class="centretext">No upcoming games</p>
<% else %>
  <table>
  <thead>
  <th>
  Date
  </th>
  <th>
  Location
  </th>
    <th>
  Confirmed Players
  </th>
  </thead>

  <tbody>
    <% @team.upcoming_games.each do |upcoming_game| %>
    <tr>
  <td>
    <%= link_to upcoming_game.matchday.strftime("%A, %d %b %Y %l:%M %p"), upcoming_game %>
    </td>
    <td>
      <%= link_to upcoming_game.location, upcoming_game %>
    </td>
    <td>
    <%= upcoming_game.attending_players.size %>
    </td>
    </tr>
    <% end %>
    </tbody>
    </table>
<%end%>
</br>
<% if current_user.admin_of_team?(@team) %>
<div class="nowrapflex">
  <%= link_to 'Modify Games', team_games_path(@team), class: "accent-btn half" %>
  <%= link_to "Create New Game", new_team_game_path(@team), class: "accent-btn half" %>
  </div>
<% end %>

</div>

<div class="card">
<h2>Previous Games</h2>
<% if @team.previous_games.empty? %>
<p class="centretext">No previous games.</p>
<% else %>
<table>
<thead>
<th>
Date
</th>
<th>
Location
</th>
<th>
Players attended
</th>
</thead>

<tbody>
  <% @team.previous_games.each do |previous_game| %>
  <tr>
<td>
  <%= link_to previous_game.matchday.strftime("%A, %d %b %Y %l:%M %p"), previous_game %>
  </td>
  <td>
    <%= link_to previous_game.location, previous_game %>
  </td>
     <td>
    <%= previous_game.attending_players.size %>
    </td>
  </tr>
  <% end %>
  </tbody>
  </table>
<%end%>

</div>

<div class="card">
  <h2>Members</h2>
  <%= render "shared/playerbox", players: @team_players %>
    </div>
    <% if current_user.admin_of_team?(@team) %>
    <%= link_to "Edit Team Members", team_team_players_path(@team), class: "accent-btn" %>
    <% end %>
</div>



</div>
</div>