<div class="row">
<div class="l-5 m-12 l-mr1">
<div class="card centretext">
<h2>Player Profile</h2>
<div class="rounded">
 <%= image_tag @profile.image_url(:square) %>
</div>
<h3>
  <%= @profile.full_name %>
</h3>
<p>
  <%= @profile.simple_location %>
</p>

<p>
  <strong>About</strong>
    <br/>
  <%= @profile.description %>
</p>

<p>
  <strong>Gender</strong>
  <br/>
  <%= @profile.gender.humanize %>
</p>
</div>

<div class="card">
<h2>Location</h2>
<p>
  <strong>Prefers to play near</strong
  </br>
  <%= @profile.playing_location %></p>
  <%= marker_map(@profile) %>
</div>  
</div>

<div class="l-6 m-12">
<div class="card">
<h2> Interests </h2>
<table>
<thead>
<th>
Sport
</th>
<th colspan="2">
Skill Level (self-rated)
</th>

</thead>

<tbody>
<% @interests.each do |interest| %>
<tr>
<td>
<%= interest.sport.title_name %>
</td>
<td>
<%= interest.skilltitle %>
</td>
<td class="stars">
<% interest.skillstars.times do %>
<%= fa_icon "star" %>
<% end %>
</td>

</tr>
<% end %>
</tbody>
</table>
</div>

<div class="card">
<h2>Teams</h2>
    <br/>
    <div class="flex">
  <% @teams.each do |team| %>
  <div class="team-card">
    <%= image_tag team.image_url(:small), class: "avatar" %>
    <p> <%= link_to team.name, team %> <br/>
 <%= team.info %></p>
  </div>
  <% end %>
  </div>

</div>

</div>

</div>
</div>