<div class="card centretext">
<h2>Player Profile</h2>
<div class="rounded">
 <%= image_tag @profile.image_url(:square) %>
</div>
<h3>
  <%= @profile.full_name %>
</h3>
<p>
  <%= @profile.simple_location %>
</p>

<p>
  <strong>About</strong>
    <br/>
  <%= @profile.description %>
</p>

<p>
  <strong>Gender</strong>
  <br/>
  <%= @profile.gender.humanize %>
</p>


<p>
  <strong>Prefers to play near</strong>
  </br>
  <%= @profile.playing_location %>
</p>


<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@profile.latitude},#{@profile.longitude}&zoom=13&scale=1&size=600x300&maptype=roadmap&key=AIzaSyC_XGX34wBaJcGjRQ1PNHoJMSRqAheg7XU&format=jpg&visual_refresh=true", class: "map" %>

<h2> Interests </h2>
<table>
<thead>
<th>
Sport
</th>
<th colspan="2">
Skill Level (self-rated)
</th>

</thead>

<tbody>
<% @interests.each do |interest| %>
<tr>
<td>
<%= interest.sport.title_name %>
</td>
<td>
<%= interest.skilltitle %>
</td>
<td class="stars">
<% interest.skillstars.times do %>
<%= fa_icon "star" %>
<% end %>
</td>

</tr>
<% end %>
</tbody>
</table>


<h2>Teams<h2>
    <br/>
  <% @teams.each do |team| %>
    <%= link_to team.name, team %>
  <% end %>
</p>


</div>

