<div class="box">
<h2>Search For A Player</h2>
<%= form_with scope: :playersearch, method: :get, local: true, class: "fancyform" do |form| %>

<%= fields_for :interests do |interest_field| %>
  <div class="field row">
  <div class="l-3 m-12  formlabel">
    <%= interest_field.label :sport_id %>
  </div>
  <div class="l-9 m-12 inputbox">
    <%= interest_field.collection_select :sport_id, Sport.order('name ASC'), :id, :title_name, :include_blank => true %>
  </div>
  </div>

      <div class="field row">
  <div class="l-3 m-12  formlabel">
    <%= interest_field.label :skill, "Skill level" %>
  </div>
  <div class="l-9 m-12 inputbox checkline">
    <%= interest_field.collection_check_boxes :skill, Skill.all, :id, :name, include_hidden: false do |b| %>
        <div class="checky">
        <%= b.check_box %>
        <%= b.label %>
        </div>
    <% end %>
  </div>
 </div>

 <% end %>
 <%= fields_for :profile do |profile_field| %>
    <div class="field row">
  <div class="l-3 m-12  formlabel">
    <%= profile_field.label :gender %>
  </div>
  <div class="l-9 m-12 inputbox">
      <%= profile_field.select :gender, [['Male', 1], ['Female', 2]], include_blank: true %>
  </div>
  </div>
 <% end %>

  <div class="field row">
  <div class="l-3 m-12  formlabel">
    <%= form.label :location %>
  </div>
  <div class="l-9 m-12 inputbox">
      <%= form.text_field :location, id:"autocomplete", placeholder: "Enter where your team is located",
             onFocus: "geolocate()" %>
  </div>
  </div>

    <div class="field row">
  <div class="l-3 m-12  formlabel">
    <%= form.label :distance, "Maximum distance" %>
  </div>
  <div class="l-9 m-12 inputbox">
      <%= form.select :distance, [['5 Kilometers', 5], ['10 Kilometers', 10], ['15 Kilometers', 15], ['25 Kilometers', 25], ['35 Kilometers', 35], ['50 Kilometers', 50]], include_blank: true %>
  </div>
  </div>

  <%= form.submit "Search" %>
  </div>



 
<% end %>

</div>

<div class="box">
<% @players.each do |player| %>
<div class="player-box">
<%= player.profile.full_name %>
<%= player.profile.gender %>
<%= player.profile.simple_location %>

</div>

<% end %>
</div>


     <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4JYfecnp9SrqFt5SU5z6g4TBJ5X3MUvs&libraries=places&callback=initAutocomplete"
        async defer></script> 