
<div class="card">
<h2>Search For A Team</h2>
  <%= form_with scope: :teamsearch, method: :get, local: true, class: "fancyform" do |form| %>
  <div class="field row">
    <div class="l-3 m-12  formlabel">
      <%= form.label :sport_id, class: "required" %>
    </div>
    <div class="l-9 m-12 inputbox">
      <%= form.collection_select :sport_id, Sport.order('name ASC'), :id, :title_name, :include_blank => true %>
    </div>
  </div>

  <div class="field row">
    <div class="l-3 m-12  formlabel">
      <%= form.label :gender_id %>
    </div>
    <div class="l-9 m-12 inputbox checkline">
      <%= form.collection_check_boxes :gender_id, Gender.all, :id, :name, include_hidden: false do |b| %>
          <div class="checky">
            <%= b.check_box %>
            <%= b.label %>
          </div>
      <%end %>
    </div>
  </div>

  <div class="field row">
    <div class="l-3 m-12  formlabel">
      <%= form.label :skill, "Skill level" %>
    </div>
    <div class="l-9 m-12 inputbox checkline">
      <%= form.collection_check_boxes :skill_id, Skill.all, :id, :name, include_hidden: false do |b| %>
        <div class="checky">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field row">
    <div class="l-3 m-12  formlabel">
      <%= form.label :location %>
    </div>
    <div class="l-9 m-12 inputbox">
      <%= form.text_field :location, id:"autocomplete", placeholder: "Enter your address",
             onFocus: "geolocate()" %>
    </div>
  </div>

  <div class="field row">
    <div class="l-3 m-12  formlabel">
      <%= form.label :distance, "Maximum distance" %>
    </div>
    <div class="l-9 m-12 inputbox">
        <%= form.select :distance, [['5 Kilometers', 5], ['10 Kilometers', 10], ['15 Kilometers', 15], ['25 Kilometers', 25], ['35 Kilometers', 35], ['50 Kilometers', 50]], include_blank: true %>
        <p class="subtle-text">Defaults to 5 km if not set.</p>
    </div>
  </div>

  <%= form.submit "Search" %>

<% end %>

</div>

<% unless @teams.empty? %>
<div class="card">
<h2>Search Results</h2>

<% @teams.each do |team| %>
<%= render "teambox", team: team %>
<% end %>
</div>
<% end %>
</div>


     <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4JYfecnp9SrqFt5SU5z6g4TBJ5X3MUvs&libraries=places&callback=initAutocomplete"
        async defer></script> 