<div class="card">
<h2> My Interests </h2>
<table>
<thead>
<th>
Sport
</th>
<th colspan="2">
Skill Level (self-rated)
</th>

<th>
Edit
</th>
<th>
Delete
</th>
</thead>

<tbody>
<% @interests.each do |interest| %>
<tr>
<td>
<%= interest.sport.title_name %>
</td>
<td>
<%= interest.skilltitle %>
</td>
<td class="stars">
<% interest.skillstars.times do %>
<%= fa_icon "star" %>
<% end %>
</td>
<td>
 <%= link_to  edit_interest_path(interest) do %> 
<%= fa_icon "edit" %></i>
<% end %> 
</td>
<td>
<%= link_to interest, method: :delete, data: { confirm: 'Are you sure you want to delete this interest?' } do %>
<%= fa_icon "trash" %> 
 <% end %>

</td>

</tr>
<% end %>
</tbody>
</table>
</div>
<div class="card">
<h2> Add An Interest </h2>
<%= render "form", interest: @interest, submittext: "Add Interest" %>
</div>