<div class="card">
<h2>Games For <%= @team.name %></h2>

<table>
  <thead>
    <tr>
      <th>Matchday</th>
      <th>Location</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.matchday.strftime("%A, %d %b %Y %l:%M %p"), game %></td>
        <td><%= link_to game.location, game %></td>
        <td><%= link_to fa_icon("edit"), edit_game_path(game)  %>
      
      </td>
        <td><%= link_to fa_icon("trash"), game, method: :delete, data: { confirm: 'Are you sure?' }  %>
   
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_team_game_path(@team), class: "accent-btn" %>
</div>