<div class="row">
<div class="card centretext l-6 m-12">
<h2>Game Details</h2>
<p>
  <strong>Team:</strong>
  <%= link_to @game.team.name, @game.team %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @game.skill.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<%= marker_map(@game) %>

<p>
  <strong>Matchday:</strong>
  <%= @game.matchday.strftime("%A, %d %b %Y %l:%M %p") %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @game.real_cost %>
</p>

<p>
  <strong>Open to public:</strong>
  <%= @game.open_to_public %>
</p>

<p>
  <strong>Message to public:</strong>
  <%= @game.message_to_public %>
</p>

</div>

<div class="card  l-6 m-12">
<h2>Attendance</h2>
<%= link_to "Update My Attendance", new_game_game_player_path(@game), class: "accent-btn"	%>
<div class="row borderbottom">
<div class="l-2 m-12">
<p>
<strong>Players Attending: </strong></p>
</div>
<div class="l-9 m-12">
<%= render "shared/profilesbox", players: @game.attending_players %>
</div>
</div>

<div class="row borderbottom">
<div class="l-2 m-12">
<p>
<strong>Players Awaiting Response:  </strong></p>
</div>
<div class="l-9 m-12 faded">
<%= render "shared/profilesbox", players: @game.awaiting_players %>
</div>
</div>

<div class="row">
<div class="l-2 m-12">
<p>
<strong>Players Not Attending </strong></p>
</div>
<div class="l-9 m-12 faded">
<%= render "shared/profilesbox", players: @game.not_attending_players  %>
</div>
</div>

</div>
</div>