<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @game.team %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @game.skill %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>Matchday:</strong>
  <%= @game.matchday %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @game.cost %>
</p>

<p>
  <strong>Open to public:</strong>
  <%= @game.open_to_public %>
</p>

<p>
  <strong>Message to public:</strong>
  <%= @game.message_to_public %>
</p>

