<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <%= render 'application/favicon' %>

    <title>Teamplayers</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>


  </head>

  <body>
        <nav>
        <div class="logo">Teamplayers</div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
              <% if user_signed_in? %>

                <li>
                  <label for="drop-1" class="toggle">Account +</label>
                  <a href="#">Account</a>
                  <input type="checkbox" id="drop-1"/>
                  <ul>
                    <li><%= link_to 'View Profile', myprofile_path %></li>
                    <li><%= link_to 'Edit Profile', myprofile_edit_path %></li>
                    <li><%= link_to 'Edit Interests', interests_path %></li>
                    <li><%= link_to 'Change Password', edit_user_registration_path %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
                  </ul> 

                </li>
                <li>
                <!-- First Tier Drop Down -->
                <label for="drop-2" class="toggle">Teams +</label>
                <a href="#">Teams</a>
                <input type="checkbox" id="drop-2"/>
                <ul>
                    <li><%= link_to "My Teams", teams_path %></li>
                    <li><%= link_to "My Applications", myapplications_path %></li>
                    <li><%= link_to "Create New Team", new_team_path %></li>
                </ul>
                </li>
                <li><%= link_to "Find Players", search_players_path %></li>
                <li><%= link_to "Find Teams", search_teams_path %></li>

                <% else %>
                 <li><a href="/">Home</a></li>
                  <li><%= link_to "Sign up", new_user_registration_path  %></li>
                  <li><%= link_to "Login", new_user_session_path  %></li>
                <% end %>
            </ul>
        </nav>




<% if notice %>
  <p class="green box"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="red box"><%= alert %></p>
<% end %>

  <main>
    <div class="container">
      <div class="section">
      <%= yield %>
      </div>
    </div>
  </main>

   <footer>

      <div>
      <p>© 2018 Copyright Teamplayers</p>
      </div>
  </footer>

  </body> 
</html>
