<!DOCTYPE html>
<html>
  <head>
    <title>Teamplayers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>


  </head>

  <body>
        <nav>
        <div class="logo"><i class="fas fa-hand-peace"></i> Teamplayers</div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="/">Home</a></li>
              <% if user_signed_in? %>

                <li>
                  <label for="drop-1" class="toggle">Account +</label>
                  <a href="#">Account</a>
                  <input type="checkbox" id="drop-1"/>
                  <ul>
                    <li><%= link_to 'View Profile', profile_path %></li>
                    <li><%= link_to 'Edit Profile', profile_edit_path %></li>
                    <li><%= link_to 'Change Password', edit_user_registration_path %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
                  </ul> 

                </li>
                <li>
                <!-- First Tier Drop Down -->
                <label for="drop-2" class="toggle">Teams +</label>
                <a href="#">Teams</a>
                <input type="checkbox" id="drop-2"/>
                <ul>
                    <li><a href="#">My Teams</a></li>
                    <li><a href="#">Create New Team</a></li>
                </ul>
                </li>
                <li><a href="#">Find Players</a></li>
                <li><a href="#">Find Teams</a></li>

                <% else %>
                  <li><%= link_to "Sign up", new_user_registration_path  %></li>
                  <li><%= link_to "Login", new_user_session_path  %></li>
                <% end %>
            </ul>
        </nav>




<% if notice %>
  <p class="green box"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="red box"><%= alert %></p>
<% end %>

  <main>
    <div class="container">
      <div class="section">
      <%= yield %>
      </div>
    </div>
  </main>

   <footer>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Terms</a></li>
      </ul>
   
      <div>
      <p>© 2018 Copyright Text</p>
      </div>
  </footer>

  </body> 
</html>
